<div class="main-panel">
  <div class="content-wrapper">
    <div class="container tm-mt-big tm-mb-big">
      <div class="row">
        <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
          <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
            <div class="row">
              <div class="col-12">
                <h2 class="tm-block-title d-inline-block">Add Product</h2>
              </div>
            </div>
            <div class="row tm-edit-product-row">
              <form
                action="/admin/add-product"
                enctype="multipart/form-data"
                method="post"
                class="tm-edit-product-form d-flex"
              >
                <div class="col-xl-6 col-lg-6 col-md-12">

                  <div class="form-group mb-3">
                    <label for="name">Brand
                    </label>
                    <input
                      id="name"
                      name="brand"
                      type="text"
                      class="form-control validate"
                      required=""
                      placeholder="Enter Brand Name"
                    />
                  </div>
                  <div class="form-group mb-3">
                    <label for="product name">Product
                    </label>
                    <input
                      id="name"
                      name="productName"
                      type="text"
                      class="form-control validate"
                      required=""
                      placeholder="Enter Product Name"
                    />
                  </div>

                  <div class="form-group mb-3">
                    <label for="">Type</label>
                    <select
                      class="custom-select tm-select-accounts category"
                      name="type"
                      id="type"
                      onchange="changeCategories();"
                      required
                    >
                      <option value="men">MEN</option>
                      <option value="women">WOMEN</option>
                    </select>
                  </div>
                  <div class="form-group mb-3">
                    <label for="">Category</label>

                    <select
                      class="custom-select tm-select-accounts type"
                      name="category"
                      id="category"
                      required
                    >
                      {{#each category}}
                        <option
                          value="{{this.category}}"
                        >{{this.category}}</option>
                      {{/each}}
                    </select>

                  </div>
                  <div class="form-group mb-3">
                    <label for="description">Description</label>
                    <textarea
                      class="form-control validate"
                      name="description"
                      rows="3"
                      required=""
                    ></textarea>
                  </div>
                   <label for="stock">Stock of Product
                  </label>
                  <div class="row">
                    <div class="form-group mb-3 col-xs-2 col-sm-2">
                      <input
                        id="stock"
                        name="s"
                        type="number"
                        class="form-control validate"
                        required=""
                        placeholder="S"
                      />
                    </div>
                    <div class="form-group mb-3 col-xs-2 col-sm-2">

                      <input
                        id="stock"
                        name="m"
                        type="number"
                        class="form-control validate"
                        required=""
                        placeholder="M"
                      />
                    </div>
                    <div class="form-group mb-3 col-xs-2 col-sm-2">

                      <input
                        id="stock"
                        name="l"
                        type="number"
                        class="form-control validate"
                        required=""
                        placeholder="L"
                      />
                    </div>
                    <div class="form-group mb-3 col-xs-2 col-sm-2">

                      <input
                        id="stock"
                        name="xl"
                        type="number"
                        class="form-control validate"
                        required=""
                        placeholder="XL"
                      />
                    </div>
                    <div class="form-group mb-3 col-xs-2 col-sm-3">

                      <input
                        id="stock"
                        name="xxl"
                        type="number"
                        class="form-control validate"
                        required=""
                        placeholder="XXL"
                      />
                    </div>
                    <div class="form-group mb-3 col-xs-2 col-sm-6">
                      <label for="stock">Price
                      </label>

                      <input
                        id="stock"
                        name="price"
                        type="number"
                        class="form-control validate"
                        required=""
                        placeholder="Enter Price"
                      />
                    </div>
                  </div>
                </div>
                
                <div class="col-xl-6 col-lg-6 col-md-12 mx-auto mb-4">
                 

                  <div class="row">
                    <div class="d-flex ">
                      <img class="p-2" src="/admin/images/imgupload.png" alt="product preview" id="imgView1"  style="width: 150px; height: 150px;;">
                      <img class="p-2" src="/admin/images/imgupload.png" alt="product preview" id="imgView2"  style="width: 150px; height: 150px;;">
                      <img class="p-2" src="/admin/images/imgupload.png" alt="product preview" id="imgView3"  style="width: 150px; height: 150px;;">
                    </div>
           
                    <div class="custom-file mt-3 mb-3 col-sm-6 d-flex">
                      <input
                        id="fileInput1"
                        type="file"
                        style="display:none;"
                        name="files"
                        onchange="imageView1(event)"
                        required
                                             
                      />
                      <input
                        type="button"
                        class="btn btn-primary btn-block mx-auto"
                        value="UPLOAD IMAGE 1"
                        onclick="document.getElementById('fileInput1').click();"
                      />
                      <input
                        id="fileInput2"
                        type="file"
                        style="display:none;"
                        name="files"
                        onchange="imageView2(event)"
                        required
                       
                       
                      />
                      <input
                        type="button"
                        class="btn btn-info btn-block mx-auto"
                        value="UPLOAD IMAGE 2"
                        onclick="document.getElementById('fileInput2').click();"
                      />
                      <input
                        id="fileInput3"
                        type="file"
                        style="display:none;"
                        name="files"
                        onchange="imageView3(event)"
                        required                          
                      />
                      <input
                        type="button"
                        class="btn btn-warning btn-block mx-auto"
                        value="UPLOAD IMAGE 3"
                        onclick="document.getElementById('fileInput3').click();"
                      />
                    </div>
                    

                    <div class="col-12">
                      <button
                        type="submit"
                        class="btn btn-primary btn-block text-uppercase"
                      >Add Product Now</button>
                    </div>
                  </div>
                </div>

              </form>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<script
  src="https://code.jquery.com/jquery-3.6.0.js"
  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"
></script>
<script>
  const invalidChars = ["-", "e", "+", "E"];
  $("input[type='number']").on("keydown", function (e) { if
  (invalidChars.includes(e.key)) { e.preventDefault(); } })
</script>

<script>
  function imageView1(event){
    document.getElementById('imgView1').src=URL.createObjectURL(event.target.files[0])
  }
</script>
<script>
  function imageView2(event){
    document.getElementById('imgView2').src=URL.createObjectURL(event.target.files[0])
  }
</script>
 <script>
  function imageView3(event){
    document.getElementById('imgView3').src=URL.createObjectURL(event.target.files[0])
  }
 </script>
 
