<!-- breadcrumb -->
<div class="container m-t-60">
  <div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
    <a href="index.html" class="stext-109 cl8 hov-cl1 trans-04">
      Home
      <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
    </a>

    <span class="stext-109 cl4">
      Shoping Cart
    </span>
  </div>
</div>

<!-- Shoping Cart -->
<form class="bg0 p-t-75 p-b-85" id="checkout-form">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
        <div class="m-l-25 m-r--38 m-lr-0-xl">
          <div class="wrap-table-shopping-cart">
            <div id="accordion">
              <div class="card">

                <div class="card-header bg1">
                  <h5 class="mb-0">
                    <div class="text-white" aria-controls="collapseThree">
                      Delivery address
                    </div>
                  </h5>
                </div>

                <div class="card-header" id="headingOne">
                  <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                      aria-controls="collapseOne">
                      Choose address
                    </button>
                  </h5>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                  <div class="card-body">
                    <input class="form-control" type="text" name="name" placeholder="Name" required />
                    <input class="form-control m-t-15" type="text" name="housename" placeholder="House Name" required />
                    <input class="form-control m-t-15" type="text" name="town" placeholder="town" required />
                    <input class="form-control m-t-15" type="text" name="district" required placeholder="District" />
                    <input class="form-control m-t-15" type="text" name="state" placeholder="State" required />
                    <input class="form-control m-t-15" type="number" name="pincode" required placeholder="Pin Code" />
                    <input class="form-control m-t-15" type="email" name="email" placeholder="Email" required />
                    <input class="form-control m-t-15" type="number" name="phone" placeholder="Phone Number" required />
                    <input type="text" name="userId" id="" value="{{user._id}}" hidden />

                  </div>
                </div>

              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-10 col-lg-7 col-xl-5 m-lr-auto m-b-50">
        <div class="bor10 p-lr-40 p-t-30 p-b-40 m-l-63 m-r-40 m-lr-0-xl p-lr-15-sm">
          <h4 class="mtext-109 cl2 p-b-30">
            Cart Totals
          </h4>

          <div class="flex-w flex-t bor12 p-b-13">
            <div class="size-208">
              <span class="stext-110 cl2">
                Subtotal:
              </span>
            </div>

            <div class="size-209">
              <span class="mtext-110 cl2">
                <i class="fa-solid fa-indian-rupee-sign mr-1"></i>{{total}}
              </span>
            </div>
          </div>

          <div class="flex-w flex-t p-t-27 p-b-33">
            <div class="size-208">
              <span class="mtext-101 cl2">
                Total:
              </span>
            </div>

            <div class="size-209 p-t-1">
              <span class="mtext-110 cl2">
                <i class="fa-solid fa-indian-rupee-sign mr-1"></i>{{total}}
              </span>
            </div>
          </div>
          <h4 class="mtext-109 cl2 p-b-30">
            Payment Option
          </h4>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="paymentMethod" id="payment" value="ONLINE" checked />
            <label class="form-check-label" for="paymentMethod">
              Online Payment
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="paymentMethod" id="payment" value="COD" />
            <label class="form-check-label" for="paymentMethod">
              Cash On Delivery
            </label>
          </div>

          <button href="/checkout" type="submit" id="submitId"
            class="flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 m-t-25">
            Proceed to Checkout
          </button>
        </div>
      </div>
    </div>
  </div>
</form>


<script>
  $("#checkout-form").submit((e) => {
    e.preventDefault()
    $.ajax({
      url: '/place-order',
      method: 'post',
      data: $('#checkout-form').serialize(),
      success: (response) => {
        if (response.codSuccess) {
          location.href = '/order-success/' + response.orderId
        } else {
          razorpayPayment(response)

        }
      }
    })
  })

  function razorpayPayment(order) {
    let options = {
      "key": "rzp_test_LUL6GNbQLMCbCJ", // Enter the Key ID generated from the Dashboard
      "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
      "currency": "INR",
      "name": "ðŸðšð¬ð¢ð¨ ð’‡ð’‚ð’”ð’Šð’ð’",
      "description": "Test Transaction",
      "image": "https://example.com/your_logo",
      "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
      "handler": function (response) {
        verifyPayment(response, order)
      },

      "prefill": {
        "name": "Gaurav Kumar",
        "email": "gaurav.kumar@example.com",
        "contact": "9999999999"
      },
      "notes": {
        "address": "Razorpay Corporate Office"
      },
      "theme": {
        "color": "#3399cc"
      }
    };
    let rzp1 = new Razorpay(options);
    rzp1.open();
  }
  function verifyPayment(payment, order) {
    $.ajax({
      url: '/verify-payment',
      data: {
        payment,
        order
      },
      method: 'post',
      success: (response) => {
        if (response.status) {
          location.href = '/order-success/' + response.orderId
        } else {
          alert("Payment Failed")
        }
      }
    })
  }
  
  
</script>
<style>
  .address-details: {
    background-color: #717fe0;
  }
</style>